@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
  src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");  
}

// Colors
@import 'assets/styles/colors.scss';

// Components
@import 'components/App/App.scss';
@import 'components/Planning/Planning.scss';

html {
  height: 100%;
}

body {
  font-family: "Roboto";
  height: 100%;
  margin: 0;
  padding: 0;
  background: $primary;
}